extend componentes/plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]}
				p
					|	Lorem ipsum dolor sit amet consectetur adipisicing
					|	elit. Laborum culpa est rem sint animi? Earum voluptas
					|	ratione exercitationem, magni rerum cupiditate, 
					|	impedit rem quae molestias porro iure consectetur 
					|	dolores explicabo?
					span Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae facere ratione suscipit quas placeat 					
		main.contenido
			+caja('imagen.png', titulos[1],'Lorem ipsum dolor sit amet consectetur adipisicing')
			+caja('imagen.png', titulos[2],'Lorem ipsum dolor sit amet consectetur adipisicing')
			+caja('imagen.png', titulos[3],'Lorem ipsum dolor sit amet consectetur adipisicing')
		
